@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100% !important;
}

body {
  height: 100%;
}

main{
  display: flex;height: 100%;flex-direction: column;
}

.signup_first_name,
.signup_email,
.signup_date_of_birth,
.signup_password,
.profile_first_name,
.profile_email,
.profile_date_of_birth {
  margin-right: 1rem;
}

.sign_up_form {
  margin: 0 30%;
}

.user_profile_detail_page {
  margin-left: 30%;
}

.admin_profile_detail_page {
  margin-left: 34%;
}

.dashboard_home_images,
.blogs_cards {
  width: 25vw !important;
  margin-left: 10vh;
}

.blogs_cards_order {
  width: 25vw !important;
  margin-right: 10vh;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
  margin-right: 0px !important;
}

.about_avatar_image {
  width: 150vw !important;
  border-radius: 50%;
}

.breadcrumbs {
  position: absolute;
  top: 5rem;
  left: 5rem
}

.users_blogs_breadcrumbs {
  position: absolute;
  top: 7rem;
  left: 5rem
}

.admin_breadcrumbs {
  position: absolute;
  top: 5rem;
  left: 14rem
}

.blog_modal,
.contact_form_message_modal {
  margin-left: 18%;
}

.sign_in_with_mobile_number {
  position: absolute;
  left: 32%;
  top: 24%;
}


/* loader css */
.loader-container,
.custom_loader_container {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader, 
.custom_loader {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 8px solid #f3f3f3;
  border-top: 8px solid #3498db;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  animation: spin 2s linear infinite;
}

.dashboard_images > span > span {
  display: none !important;
}

.blog_image {
  position: relative !important;
  height: 100% !important;
  margin-left: 3rem !important;
}

.blog_comment > label,
.blog_comment_reply > label {
  display: none !important;
}

.uploading_images_preview {
  position: relative !important;
  min-height: 20rem !important;
  margin-top: -4rem !important; 
}

img.modal_showing_images {
  min-height: 15rem !important;
  position: relative !important;
  margin-top: -6rem !important;
}

.users_blog_image {
  width: 25vw !important;
  height: 100% !important;
  position: relative !important;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 2000px) {
  .container {
    max-width: 100vw;
  }
}

@media (max-width: 740px) {
  .hobbies {
    flex-wrap: wrap;
    width: 100%;
  }

  .hobbies div {
    width: 100%;
  }
}

@media (max-width: 565px) {
  .gender {
    flex-wrap: wrap;
  }

  .gender div {
    width: 100%;
  }
}

@media (max-width: 1120px) {
  .first_name_last_name,
  .email_username,
  .date_of_birth_mobile_number,
  .password_confirm_password,
  .profile_first_name,
  .profile_email,
  .profile_date_of_birth {
    flex-wrap: wrap;
  }

  .signup_first_name,
  .signup_email,
  .signup_date_of_birth,
  .signup_password,
  .profile_first_name,
  .profile_email,
  .profile_date_of_birth {
    margin-right: 0rem !important;
  }
}

@media (min-width: 767px) and (max-width: 1030px) {
  .blogs_cards_order {
    max-width: 25vw !important;
  }

  .dashboard_content {
    max-width: 53vw;
    padding-right: 2rem;
  }
}

@media (max-width: 767px) {
  .common_navbar_logo {
    display: none;
  }

  .dashboard_card_section {
    display: block;
  }

  .dashboard_home_images,
  .blogs_cards,
  .blogs_cards_order {
    width: 100% !important;
  }

  .common_navbar_details {
    display: block;
    height: 17rem;
  }

  .common_navbar_profile {
    display: flex;
    justify-content: flex-end;
  }

  .dashboard_images {
    display: flex;
    justify-content: center;
    margin-top: 0;
  }

  .contact_form {
    display: block;
  }

  .contact_sending_form {
    margin-left: 0px;
    width: 100%;
  }

  .contact_details {
    width: 100%;
  }

  .breadcrumbs {
    display: none;
  }
}

.admin_policy_content {
  margin-left: 20%;
  margin-right: 10%;
}

@media (max-width: 535px) {
  .dashboard_card_section {
    display: block;
  }

  .dashboard_home_images {
    width: 30rem !important;
    max-width: 100% !important;
  }
}

@media (min-width: 536px) and (max-width: 767px) {
  .common_navbar_details {
    display: block;
    height: 17rem;
  }

  .dashboard_home_images,
  .blogs_cards,
  .blogs_cards_order {
    width: 100% !important;
  }
}

@media (max-width: 535px) {
  .dashboard_card_section {
    flex-direction: column;
  }

  .dashboard_images,
  .dashboard_content {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .admin_dashboard,
  .blogs_page,
  .add_blogs {
    margin-left: 2vw !important;
  }
}
